@media(min-width:1200px){
    .main-wrapper{
        height: 100vh;
    }
    .our-courses{
        height: 100vh;
    }
    .programming-block{
        height:100vh;
    }
}
@media(max-width:992px){}
@media(max-width:768px){
    .burger{
        display: block;
        
    }
    .menu-wrap{
        margin-top:-80vh;
    }
    .menu-active:before{
        transform: rotate(-45deg);
        transform-origin: center;
        height:3px;
        z-index:1;
    }
    .menu-active:after{
        transform: rotate(45deg);
        transform-origin: center;
        height:3px;
        z-index:1;
    }
   
    .burger-line.menu-active{
        background: transparent;
    }
    .menu-wrap.menu-active{
        margin-top: 0;
        position: fixed !important;
       top: 0;
       left: 0;
        height:100vh;
        background: #fac457;
        display: flex;
        width: 100%;
        transition: .3s;
        z-index:1;
        
       
        
        
    }
   
    .menu-wrap.menu-active .menu{
        margin:auto;
        
    }

    .menu-wrap.menu-active .menu_list{
     display: block;
     margin-bottom: 20px;
        
    }
    .user{
        margin: 0 auto;
    }
}
@media(max-width:576px){
    .main-content{
        width:400px;
        
    }
}

@media(max-width:481px){
    .main-content{
        width:350px;
        
    }
    .main-title{
        font-size: 41px;
    }
    .our-course-title{
        font-size: 41px;
    }
   .programming-block .our-course-title{
        font-size: 32px;
    }
    .title-paragraph{
        font-size: 20px;
    }
    .line{
        display: none;
    }
    .login-box{
    width: 300px;
}}


@media(max-width:360px){
    .main-content{
        width:300px;
        
    }
}